body {
	overflow-x: hidden;
}

@function adjust-text($adjust) {
	@if (lightness($adjust) > 50) {
		@return #333;
	} @else {
		@return #fff;
	}
}

@function line-height($font-size) {
	@return $font-size * 1.3;
}

.clearfix:before,
.clearfix:after {
	content: "";
	clear: both;
	display: block;
}

html,
body {
	width: 100%;
	min-height: 100%;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: #030;
	background-image: linear-gradient(
		#0d140b,
		#0d140b,
		#203e14,
		#59722c,
		#b5d166,
		#b5d166,
		#576a34 80%,
		#1f2613 100%
	);
	color: #ffffe5;
	font-family: "Dosis", sans-serif;
	font-size: 12px;
	line-height: normal;
	font-weight: 300;
	color: adjust-text(#030);
}

@media screen and (min-width: 320px) {
	body {
		font-size: calc(12px + 8 * ((100vw - 320px) / 960));
	}
}

@media screen and (min-width: 1280px) {
	body {
		font-size: 20px;
	}
}

a {
	color: #ffffc7;
	text-decoration: none;
}

[aria-label] position relative {
	color: #ffff94;
}

[aria-label]:after {
	content: attr(aria-label);
	display: block;
    opacity: 0;
	position: absolute;
	top: 55px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 915;
	pointer-events: none;
	padding: 8px 10px;
	line-height: 15px;
	white-space: nowrap;
	text-decoration: none;
	text-indent: 0;
	text-transform: none;
	text-align: center;
	overflow: visible;
	font-size: 1.1em;
	font-weight: normal;
	color: #ffffff;
}

[aria-label]:hover:after,
[aria-label]:focus:after {
	opacity: 1;
    transition: opacity 0.4s ease-in-out;
}

#container {
	position: absolute;
	z-index: 10;
	left: 50%;
	top: 55%;
	transform: translate(-50%, -50%);
	width: 70vw;
	max-width: 1000px;
	height: 70vh;
	background-image: url("https://wallpaperaccess.com/full/1553991.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 30% center;
    border-radius: 20px;
	mix-blend-mode: multiply;
}

#title {
	position: relative;
	font-family: "Chelsea Market", cursive;
	font-size: 2.02em;
	display: flex;
	justify-content: center;
	align-items: center;
}
#title p {
	background: linear-gradient(90deg, #06ffd5, #fc00c5, #f7de00);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

#real {
	position: relative;
	z-index: 11;
	font-size: 1.5em;
	font-weight: 200;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.6;
	padding: 0 0 1em;
}

#blobs {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

#blobs .blob {
	position: absolute;
	width: 2000px;
	height: 2000px;
	min-width: 100vw;
	min-height: 100vh;
	transition: transform 1s ease-out;
}

#links {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 25px;
}

#logo {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 15px;
	width: 15px;
	background-color: transparent;
	box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
	border: 1px solid #ffff94;
	color: transparent;
	text-decoration: none;
	transform: rotate(45deg);
	transition: 7s all ease-in forwards 1;
}

#logo:hover {
	color: #ffffe5;
	border: 0px;
	transform: rotate(0deg);
	width: 100%;
}

#logo:hover:after {
	content: "\A Liquid 2022";
	white-space: pre;
	transform: translate(-50%, -20%);
	font-family: "Chelsea Market", cursive;
	letter-spacing: 1px;
}

.links {
	position: absolute;
	padding: 0 20px;
	letter-spacing: 3px;
	height: 40px;
	transition: all 1s ease-in;
	transform-origin: 50% 50%;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;
}

.links:hover {
	box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
	border: 1px solid #ffff94;
	padding: 2px 10px 2px;
	color: #030;
	text-decoration: none;
	background: rgba(0, 0, 0, 0.2);
	color: #ffffe5;
}

#text {
	top: 25%;
	left: 50%;
	transform: translate3d(-50%, 0, 0);
	font-size: 1.6em;
	
}

#text span {
	font-family: "Dosis", sans-serif;
	font-size: 0.8em;
	text-transform: none;
}

#text span:hover {
	color: #ffffe5;
}

#ft {
	font-size: 1em;
	top: 50%;
	left: -3em;
	transform: rotate(-90deg) translate3d(0, -50%, 0);
}

#dp {
	top: 50%;
	right: -60px;
	transform: rotate(90deg) translate3d(0, -50%, 0);
}

#fa {
	left: 50%;
	bottom: 0;
	transform: translate3d(-50%, 0, 0);
}

.socials {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
}

.socials a {
    width: 30px;
	height: 30px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
	display: block;
	text-decoration: none;
}

.socials  a {
	color: #ffff94;
	text-decoration: none;
}

.socials #tel {
	color: #ffff94;
	background-image: url("https://cdn-icons-png.flaticon.com/512/25/25231.png");
	background-size: 15px;
	filter: invert();
}

.socials #tel:hover {
	color: #ffff94;
	border: 0px;
	transform: rotate(0deg);
	width: 100%;
}

.socials #tel:hover:after {
	top: 20px;
	color: #ffff94;
}
@media (max-width: 600px) {
	#container {
		transition: all 400ms ease;
		width: 100%;
	}
}

#real{
margin-top: -2rem;
}