*,
root {
  padding: 0;
  margin: 0;
  outline: none !important;
  --trans: all 400ms;
  user-select: none;
  --bg: linear-gradient(234deg,
          #ffe100,
          #fe03b9,
          #3200e5);
  --bgcustom: linear-gradient(180deg,
          #424242,
          #f7f7f7,
          #000000);
  --rainbow: linear-gradient(90deg,
          #00b3ff,
          #d40dbd,
          #ffb006);
  --rainbow-2: linear-gradient(45deg,
          #0ff,
          #d40dbd,
          #ffb006);
  --rainbow-3: linear-gradient(-45deg,
          #0ff,
          #d40dbd,
          #ffb006);
  --imageSize: 120px;
  --imageSizeSmall: 80px;
  --info-bg: #00000098;
  --c-light-text: #333;
  --c-background: #dedede;
  --c-light-interactive: mediumvioletred;
}

html {
  background-image: url("../images/bg2.jpg");
  transition: all 3s ease;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

audio {
  position: absolute;
  z-index: -9999999;
  opacity: 0;
}

body {
  background-repeat: no-repeat !important;
  height: 100vh;
  overflow: hidden;
  background-size: cover !important;
  transition: var(--trans);
}

#sayHello {
  font-family: cinzel;
}

.gamerName {
  width: fit-content;
  background: var(--rainbow-2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 1rem;
  backdrop-filter: blur(20px);
  transition: var(--trans);
  text-transform: uppercase;
  font-size: 0.98vw;
  filter: brightness(120%);
  animation: changeBG 10s ease infinite;
}
@media (max-width: 1300px) {
  .gamerName {
    font-size: 1.12vw;
  }
}
@media (max-width: 950px) {
  .gamerName {
    font-size: 1.4vw;
  }
}
@media (max-width: 750px) {
  .gamerName {
    font-size: 2vw;
  }
}
@media (max-width: 500px) {
  .gamerName {
    font-size: 2.5vw;
  }
}
@keyframes changeBG {
  50% {
    transition: var(--trans);
    background: var(--rainbow-3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    filter: brightness(150%);
  }
}

.gameTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gameTitle .link {
  text-decoration: none;
  font-family: cinzel;
  color: #fff;
  border-width: 2px;
  border-style: solid;
  border-image: var(--rainbow);
  border-image-slice: 1;
  font-size: 1.5vw;
  transition: var(--trans);
  margin-top: 1rem;
  background: #000;
}
@media (max-width: 900px) {
  .gameTitle .link {
    transition: var(--trans);
    font-size: 2.25vw;
  }
}
.gameTitle span {
  font-size: 3vw;
  font-weight: 700;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  background: var(--bgcustom);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.customCon {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

#customtext {
  font-size: 6.15vw;
  font-family: cinzel;
  background: var(--rainbow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  inset: none;
  backdrop-filter: blur(20px);
  position: relative;
  border-width: 2px;
  border-style: solid;
  border-image: var(--rainbow);
  border-image-slice: 1;
}
@media (min-width: 1200px) {
  #customtext {
    font-size: 4.34vw;
  }
}

.container .content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container .content .score {
  margin: 2rem;
  color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: relative;
  text-align: center;
  background: var(--info-bg);
  border-radius: 10px;
  padding: 1rem 10px;
  transition: var(--trans);
  font-size: 1vw;
  backdrop-filter: blur(6px);
}
@media (max-width: 500px) {
  .container .content .score {
    transition: var(--trans);
    margin: 1rem 0px;
    border-radius: 0;
  }
}
.container .content .score .timecon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .content .score .timecon .time {
  width: 100%;
}
.container .content .score .timecon .time #time {
  font-size: 2rem;
  background: var(--bgcustom);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.container .content .score h1 {
  position: relative;
  padding: 5px 10px;
  border-width: 2px;
  border-style: solid;
  border-image: var(--rainbow);
  border-image-slice: 1;
}
.container .content .score .title span {
  font-size: medium;
  font-family: "Courier New", Courier, monospace;
}
.container .content .grid-con {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bob 6s linear infinite;
  animation-play-state: paused;
}
@keyframes bob {
  50% {
    transform: translateY(-10px);
  }
}
.container .content .grid-con .grid {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transition: var(--trans);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 1rem 0;
  border-radius: 30px;
  max-width: 950px;
  min-width: 400px;
}
.container .content .grid-con .grid img {
  width: var(--imageSize);
  height: var(--imageSize);
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
  transition: var(--trans);
}
.container .content .grid-con .grid img:hover {
  transform: scale(1.1);
}
.container .content .grid-con .grid img:active {
  transform: scale(0.9);
}

.blurcon {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.blurcon .blur {
  background: #000;
  border-radius: 12px;
}

button {
  cursor: pointer;
  background: var(--bg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding: 10px;
  font-family: cinzel;
  font-weight: 700;
  font-size: 20px;
  border-radius: 12px;
  transition: var(--trans);
}
button:active {
  transform: scale(0.9);
}

.blurContainer {
  backdrop-filter: blur(4px);
}

.noloader {
  display: none !important;
}

.warning {
  background: var(--bg) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 3rem !important;
  transition: var(--trans);
}

@media (max-width: 1000px) {
  html,
body {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .gameTitle span {
    font-size: 5vw;
  }

  .score {
    font-size: 1.7vw !important;
  }

  .grid {
    display: grid;
    grid-template-columns: auto auto !important;
  }
  .grid img {
    width: var(--imageSizeSmall) !important;
    height: var(--imageSizeSmall) !important;
  }
}
.gameovercon {
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cinzel;
  background: #000000;
  display: none;
}
.gameovercon .gameover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gameovercon .gameover h1 {
  font-size: 8vw;
  background: var(--rainbow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: growh1 3s ease forwards;
}
@keyframes growh1 {
  0% {
    transform: scale(0.02);
  }
  100% {
    transform: scale(2);
  }
}

.gameWon {
  background: url(../images/congrats.gif);
  background-size: cover;
  position: absolute;
  height: 120vh;
  z-index: 99999;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.gameWon #restart {
  backdrop-filter: blur(10px);
}

#restart {
  border-width: 2px;
  border-style: solid;
  border-image: var(--rainbow);
  border-image-slice: 1;
  font-size: 4vw;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-top: 2rem;
  opacity: 0;
  animation: growbtn 3s 3s ease forwards;
}
@keyframes growbtn {
  0% {
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
#restart::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: var(--rainbow);
  z-index: -1;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}
#restart:hover {
  border: none;
  -webkit-text-fill-color: #fff;
  box-shadow: 5px 5px 42px #8c00ff, -5px -5px 42px #ff009d, 0 0 82px #03fffb;
  transition: all 400ms ease-in;
}
#restart:hover::before {
  width: 100%;
}

::-webkit-scrollbar {
  width: 4px;
  background: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: var(--bgcustom);
  border-radius: 12px;
}/*# sourceMappingURL=style.css.map */