*,
:root {
    padding: 0;
    margin: 0;
    outline: none !important;
    --trans: all 400ms;
    user-select: none;
    --bg: linear-gradient(234deg,
            #ffe100,
            #fe03b9,
            #3200e5);
    --bgcustom: linear-gradient(180deg,
            #424242,
            #f7f7f7,
            #000000);
    --rainbow: linear-gradient(90deg,
            #00b3ff,
            #d40dbd,
            #ffb006);
    --rainbow-2: linear-gradient(45deg,
            #0ff,
            #d40dbd,
            #ffb006);
    --rainbow-3: linear-gradient(-45deg,
            #0ff,
            #d40dbd,
            #ffb006);
    --imageSize: 120px;
    --imageSizeSmall: 80px;
    --info-bg: #00000098;
    --c-light-text: #333;
    --c-background: #dedede;
    --c-light-interactive: mediumvioletred;
}

// =======LOADING SCREEN(IMPORT)====
@import 'loading';

html {

    background-image: url('../images/bg2.jpg');
    transition: all 3s ease;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // min-width: 900px;

}

audio {
    position: absolute;
    z-index: -9999999;
    opacity: 0;
}

body {
    background-repeat: no-repeat !important;
    height: 100vh;
    overflow: hidden;

    background-size: cover !important;
    transition: var(--trans);
}

#sayHello {
    font-family: cinzel;
}

.gamerName {
    width: fit-content;
    background: var(--rainbow-2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 1rem;
    backdrop-filter: blur(20px);
    transition: var(--trans);
    text-transform: uppercase;
    font-size: calc(7vw * .14);
    filter: brightness(120%);
    animation: changeBG 10s ease infinite;

    @media (max-width:1300px) {
        font-size: calc(8vw * .14);
    }

    @media (max-width:950px) {
        font-size: calc(10vw * .14);
    }

    @media (max-width:750px) {
        font-size: calc(10vw * .2);
    }

    @media (max-width:500px) {
        font-size: calc(10vw * .25);
    }

    @keyframes changeBG {
        50% {
            transition: var(--trans);
            background: var(--rainbow-3);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;

            filter: brightness(150%);
        }


    }
}

.gameTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .link {
        text-decoration: none;
        font-family: cinzel;
        color: #fff;
        border-width: 2px;
        border-style: solid;
        border-image: var(--rainbow);
        border-image-slice: 1;
        font-size: calc(15vw * .1);
        transition: var(--trans);
        margin-top: 1rem;
        background: #000;

        @media (max-width:900px) {
            transition: var(--trans);
            font-size: calc(15vw * .15);
        }

    }

    span {
        font-size: calc(15vw * .2);
        font-weight: 700;
        font-family: 'Lucida Sans',
            'Lucida Sans Regular',
            'Lucida Grande',
            'Lucida Sans Unicode',
            Geneva,
            Verdana,
            sans-serif;
        text-transform: uppercase;
        background: var(--bgcustom);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}

.customCon{
    // background: #000;
    // height: 10%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    
}

#customtext {
    font-size: calc(15vw * .41);
    font-family: cinzel;
    background: var(--rainbow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    inset: none;
    backdrop-filter: blur(20px);
    position: relative;
    border-width: 2px;
    border-style: solid;
    border-image-slice: 1;
    border-image: var(--rainbow);
    @media (min-width: 1200px) {
    font-size: calc(14vw * .31);
    }

}

.container {

    display: none;

    .content {
        display: flex;
        justify-content: center;
        flex-direction: column;



        .score {
            margin: 1rem;
            color: #fff;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            position: relative;
            text-align: center;
            background: var(--info-bg);
            border-radius: 10px;
            padding: 1rem 10px;
            transition: var(--trans);
            font-size: 15px;
            backdrop-filter: blur(6px);

            @media (max-width:500px) {
                transition: var(--trans);
                margin: 1rem 0px;
                border-radius: 0;
            }

            .timecon {
                // margin: 1rem 0;
                display: flex;
                justify-content: space-between;
                align-items: center;


                .time {
                    width: 100%;
                    // text-align: right;
                    // margin-top: 1rem;                 

                    #time {

                        font-size: 2rem;
                        background: var(--bgcustom);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                    }
                }


            }



            h1 {
                // position: absolute;
                position: relative;
                padding: 5px 10px;
                border-width: 2px;
                border-style: solid;
                border-image: var(--rainbow);
                border-image-slice: 1;

            }

            .title {
                span {
                    font-size: medium;

                    font-family: 'Courier New',
                        Courier,
                        monospace;
                }
            }
        }

        .grid-con {
            margin-top: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            animation: bob 6s linear infinite;
            animation-play-state: paused;

            @keyframes bob {
                50% {
                    transform: translateY(-10px);
                }
            }

            .grid {
                width: 100%;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                transition: var(--trans);
                box-shadow: 0 0 20px rgba(0, 0, 0, .3);
                padding: 1rem 0;
                border-radius: 30px;

                max-width: 950px;
                min-width: 400px;

                img {
                    width: var(--imageSizeSmall);
                    height: var(--imageSizeSmall);
                    border-radius: 10px;
                    cursor: pointer;
                    margin: 5px;
                    transition: var(--trans);

                    &:hover {
                        transform: scale(1.1);
                    }

                    &:active {
                        transform: scale(.9);
                    }

                }
            }
        }
    }
}

.blurcon {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    position: absolute;
    top: 10px;
    right: 10px;

    .blur {
        background: #000;
        // position: absolute;

        border-radius: 12px;

    }


}

button {
    cursor: pointer;
    background: var(--bg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding: 10px;
    font-family: cinzel;
    font-weight: 700;
    border-radius: 12px;
    transition: var(--trans);

    &:active {
        transform: scale(.9);
    }

}

.blurContainer {
    backdrop-filter: blur(4px);
}

.noloader {
    // transition: var(--trans);
    display: none !important;
}

// If Time is 1min or less do this
.warning {
    background: var(--bg) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 3rem !important;
    transition: var(--trans);

}

@media (min-width:1000px) {


    .gameTitle {


        span {
            font-size: calc(15vw * .2);

        }
    }

    .grid {
        display: grid;
        grid-template-columns: auto auto !important;

       
    }
}

// Gameover styling
.gameovercon {
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cinzel;
    background: #000000;
    display: none;


    .gameover {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {

            font-size: calc(20vw * .4);
            background: var(--rainbow);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            animation: growh1 3s ease forwards;

            @keyframes growh1 {
                0% {
                    transform: scale(.02);
                }

                100% {
                    transform: scale(2);
                }
            }
        }


    }
}

// GameWon

.gameWon {
    background: url(../images/congrats.gif);
    background-size: cover;
    position: absolute;
    height: 120vh;
    z-index: 99999;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

    #restart {
        backdrop-filter: blur(10px);
    }
}

#restart {
    border-width: 2px;
    border-style: solid;
    border-image: var(--rainbow);
    border-image-slice: 1;
    font-size: calc(20vw * .2);
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-top: 2rem;
    opacity: 0;
    animation: growbtn 3s 3s ease forwards;

    @keyframes growbtn {
        0% {
            transform: translateY(-100px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;

        background: var(--rainbow);
        z-index: -1;
        box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
        transition: all 250ms;
    }

    &:hover {
        border: none;
        -webkit-text-fill-color: #fff;
        box-shadow: 5px 5px 42px #8c00ff,
            -5px -5px 42px #ff009d,
            0 0 82px #03fffb;
        transition: all 400ms ease-in;


        &::before {
            width: 100%;
        }
    }
}

::-webkit-scrollbar {
    width: 4px;
    background: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: var(--bgcustom);
    border-radius: 12px;
}